$primary: #004f75;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$theme-site-navbar-secondary-bg-color: #212121;
$theme-site-navbar-primary-bg-color: #000;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 765px,
  hide-secondary: 630px,
  small-logo: 375px,
  small-text-primary: 0,
  small-text-secondary: 0
);

// Site Section Colors 8dc73f
$website-section-colors: (
  business: #8dc73f,
  construction-design: #8dc73f,
  access-control: #8dc73f,
  security-safety: #8dc73f,
  healthcare: #8dc73f,
  codes-standards: #8dc73f,
  sustainability: #8dc73f,
);

@import "../../node_modules/@ac-business-media/refresh-theme/scss/theme";

.site-navbar {
  $self: &;

  &--primary {
    #{ $self } {
      &__link--active {
        color: $primary;
      }
    }
  }
}

.site-menu {
  $self: &;

  &__link--active {
    color: #000;
    background-color: #00c0f3;
  }
}
