version: '3.7'

x-node-defaults: &node
  tty: true
  init: true
  image: node:10.15
  entrypoint: ["node"]
  working_dir: /root
  restart: always
  volumes:
    - ./:/root:cached
    - ./node_modules:/root/node_modules:delegated
    - yarn-cache:/.yarn-cache

x-env-defaults: &env
  NEW_RELIC_ENABLED: ${NEW_RELIC_ENABLED-0}
  NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY-(unset)}
  DD_TRACE_ENABLED: ${DD_TRACE_ENABLED-0}
  DD_SERVICE: ${DD_SERVICE-@ac-business-media/websites}
  NODE_ENV: development
  # @todo the recaptcha values should be removed (?) once contact-us is moved to core.
  RECAPTCHA_SITE_KEY: ${RECAPTCHA_SITE_KEY-(unset)}
  RECAPTCHA_SECRET_KEY: ${RECAPTCHA_SECRET_KEY-(unset)}
  # @todo the sendgrid values should be removed once the @parameter1/base-cms-mailer service is created.
  SENDGRID_API_KEY: ${SENDGRID_API_KEY-(unset)}
  SENDGRID_DEV_TO: contact@parameter1.com
  YARN_CACHE_FOLDER: /.yarn-cache

x-env-tauron: &env-tauron
  GRAPHQL_URI: ${GRAPHQL_URI-https://tauron.graphql.base.parameter1.com}
  OEMBED_URI: ${OEMBED_URI-https://tauron.oembed.base.parameter1.com}
  RSS_URI: ${RSS_URI-https://tauron.rss.base.parameter1.com}
  SITEMAPS_URI: ${SITEMAPS_URI-https://tauron.sitemaps.base.parameter1.com}

x-env-development: &env-development
  GRAPHQL_URI: ${GRAPHQL_URI-http://host.docker.internal:10002}
  OEMBED_URI: ${OEMBED_URI-http://host.docker.internal:10013}
  RSS_URI: ${RSS_URI-http://host.docker.internal:10011}
  SITEMAPS_URI: ${SITEMAPS_URI-http://host.docker.internal:10009}

x-site-command: &site-cmd
  entrypoint: ["node_modules/.bin/basecms-website"]
  command: ["dev", "index.js"]

volumes:
  yarn-cache: {}

services:
  terminal:
    <<: *node
    working_dir: /root
    entrypoint: ["/bin/bash"]
    environment:
      <<: *env

  yarn:
    <<: *node
    working_dir: /root
    entrypoint: ["yarn"]
    environment:
      <<: *env

  gip:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/greenindustrypros.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9710
      LIVERELOAD_PORT: 19710
      TENANT_KEY: acbm_gip
      SITE_ID: 53c95fdd1784f8066eb2c891
    ports:
      - "9710:80"
      - "19710:19710"

  sdc:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/sdcexec.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9711
      LIVERELOAD_PORT: 19711
      TENANT_KEY: acbm_sdce
      SITE_ID: 53c960451784f8066eb2c8a4
    ports:
      - "9711:80"
      - "19711:19711"

  mem:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/mixequipmentmag.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9712
      LIVERELOAD_PORT: 19712
      TENANT_KEY: acbm_mix
      SITE_ID: 5de563de8f2d172b008b4598
    ports:
      - "9712:80"
      - "19712:19712"

  fl:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/foodlogistics.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9713
      LIVERELOAD_PORT: 19713
      TENANT_KEY: acbm_fl
      SITE_ID: 53c95f4a1784f8066eb2c86a
    ports:
      - "9713:80"
      - "19713:19713"

  oem:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/oemoffhighway.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9714
      LIVERELOAD_PORT: 19714
      TENANT_KEY: acbm_ooh
      SITE_ID: 54b5a261c99db54158ed0fc9
    ports:
      - "9714:80"
      - "19714:19714"

  dmn:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/dmnews.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9715
      LIVERELOAD_PORT: 19715
      TENANT_KEY: acbm_dmn
      SITE_ID: 5ab9105112fedfa38dbd63f4
    ports:
      - "9715:80"
      - "19715:19715"

  fcp:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/forconstructionpros.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9716
      LIVERELOAD_PORT: 19716
      TENANT_KEY: acbm_fcp
      SITE_ID: 53ca8d671784f8066eb2c949
    ports:
      - "9716:80"
      - "19716:19716"

  safesecureopenings.com:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/safesecureopenings.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9718
      LIVERELOAD_PORT: 19718
      TENANT_KEY: acbm_fcp
      SITE_ID: 5f09fe3771f65a24008b456e
    ports:
      - "9718:80"
      - "19718:19718"
