.ldp {
  display: flex;
  align-items: center;
  &__logo {
    img {
      margin-right: 2rem;
    }
  }
}

.company-section-label {
  display: block;
  padding-bottom: .25rem;
  color: $gray-600;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}
