.page--search {
  .search-form {
    display: flex;
    &__group {
      margin-bottom: 0;
      flex-grow: 1;
    }
    &__btn {
      flex-shrink: 1;
    }
  }
}
.section-facets-toggle {
  display: flex;
  padding: 20px;
  margin-bottom: map-get($spacers, block);
  background-color: #f1f1f1;
  &__label {
    align-self: center;
  }

  &__button {
    @include theme-toggle-button();
    align-self: center;
    margin-left: auto;
  }
}

.content-type-facets,
.section-facets {
  @include theme-card();
  $color: $gray-200;
  $self: &;

  &--open {
    display: block;
  }

  &__title {
    @include theme-card-header();
    @include border-top-radius($theme-item-list-border-radius);
    padding: $marko-web-node-list-padding;
    padding-bottom: 0;
    border-bottom: solid 2px #000;
    margin-bottom: 0;
    line-height: $line-height-base;
    &:empty {
      display: none;
    }

  }

  &__list {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    padding: 0;
    overflow: scroll;
    background-color: #f1f1f1;
  }

  &__link {
    position: relative;
    display: inline;
    color: #333;
    border-bottom: solid 1px #fff;
    &:hover {
      color: #333;
      text-decoration: underline;
    }
    &--active {
      font-weight: 700;
      color: $primary;
    }
  }

  &__item {
    position: relative;
    display: block;
    padding: 0;
    font-size: 14px;
    line-height: 1.25;

    #{ $self } {
      &__link {
        display: block;
        padding: map-get($spacers, block) / 2;
        padding-right: map-get($spacers, block);
        padding-left: map-get($spacers, block);
      }
    }

    &--open {
      > #{ $self } {
        &__list {
          display: flex;
        }
      }
    }
  }

  &__toggle {
    @include theme-toggle-button();
    position: absolute;
    top: 0;
    right: map-get($spacers, block) / 2;
    padding: 0;
    margin-left: auto;
    line-height: 2.25;

    & > .icon {
      @include theme-navbar-link-color(( active: $primary, hover: $primary, default: $black ));
    }
  }
}

.section-facets {
  $self: &;

  &__list {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    padding: 0;
    overflow: scroll;
  }
  &__list > {
    #{ $self } {
      &__item {
        > #{ $self }__list {
          display: none;
          max-height: 100%;
          overflow: initial;
        }
      }
      &__item--open {
        > #{ $self }__list {
          display: flex;
        }
      }
    }
  }
}

.section-facets__item--open {
  $self: &;
  & .section-facets__list .section-facets__link {
    padding-left: map-get($spacers, block) * 1.5;
  }
  & #{ $self } .section-facets__list .section-facets__link {
      padding-left: map-get($spacers, block) * 2;
  }
  & #{ $self } #{ $self } .section-facets__list .section-facets__link {
    padding-left: map-get($spacers, block) * 2.5;
  }
}

.pagination-controls {
  $self: &;

  display: flex;
  justify-content: center;
  padding-top: map-get($spacers, block);

  &__prev {
    margin-right: map-get($spacers, block);
    + #{ slef } {
      &__next {
        margin-left: map-get($spacers, block);
      }
    }
  }
}
